@import "../../index";

.profile-container {
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: $bluegreen;
    width: 100vw;
    max-width:100%;
    color: white;

    // workaround for space evenly on IE
    &:before,
    &:after {
        content: '';
        display: block;
    }
}

.avatar {
    border: 3px solid $yellow;
    height: 200px;
    width: 200px;
    z-index: 1;
    border-radius: 100%;
}

.name {
    font-size: 3em;
    /*font-weight: bold;*/
    margin: 15px;
    color: white;
    font-family: $title-font;
    text-transform: uppercase;
    letter-spacing: 3px;
}


.job-title {
    font-size: 2.5em;
    opacity: 0.8;
    margin: 15px;
    color: white;
    font-family: $title-font;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.social-icon {
    opacity: 0.8;
    border-radius: 50%;
}

.social-icon:hover {
    opacity: 1;
    box-shadow: 3px 3px 8px $bluegreen;
    transition: all 0.1s ease-in-out;
}

.btn.primary {
    background-color: $yellow;
    color: $bluegreen !important;
}
.btn.secondary {
    border: 2px solid $yellow;
    color: $yellow !important;
}