.description-container {
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: var(--greenblue);
    width: 100vw;
    max-width: 100%;
    padding: 50px;
}

.description-container .title-container {
    align-self: flex-start;
}

.description-container .title {
    color: var(--yellow);
    font-size: 3em;
    font-family: var(--title-font);
    text-transform: uppercase;
    letter-spacing: 3px;
    opacity: 0;
}

.description-container .title.visible {
    margin-left: 40px;
    opacity: 1;
    transition: all 0.5s linear 0.3s;
    align-self: flex-start;
}

.description-container .body {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 1.4em;
    flex: 1;
    color: white;
}

.description-container .body-section {
    max-width: 600px;
    transform: translateX(50px);
    opacity: 0;
    transition: all 0.8s linear 0.3s;
}

.description-container .body-section.visible {
    transform: translateX(0px);
    margin-right: 0;
    opacity: 1;
    transition: all 0.8s linear 0.3s;
}

