.description-container {
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--greenblue);
    color: var(--yellow);
    width: 100vw;
    max-width:100%;

    font-size: 10em;
}