.social-icon {
    opacity: 0.8;
    border-radius: 50%;
}

.social-icon:hover {
    opacity: 1;
    box-shadow: 3px 3px 8px var(--bluegreen);
    transition: all 0.1s ease-in-out;
}

.footer {
    position: fixed;
    bottom: -100px;
    width: 100vw;
    z-index: 2;
    display: flex;
    justify-content: center;
    background-color: transparent;
    transform: translateY(0px);
    transition: transform 0.4s linear;
}

.footer.visible {
    transform: translateY(-100px);
}

@media screen and (max-width: 600px) {
    .footer {
        background-color: var(--bluegreen);
    }
}

.back-to-top {
    cursor: pointer;
    position: fixed;
    top: -40px;
    right: 30px;
    transform: translateY(0px);
    color: var(--yellow);
    max-width: 40px;
    height: 40px;
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 0.3s ease-in-out;
    padding: 10px;
}

.back-to-top.visible {
    transform: translateY(70px);
}

.back-to-top:hover {
    max-width: 300px;
    transition: max-width 0.3s ease-in-out;
    border: 2px solid var(--yellow);
    border-radius: 10px;
}

.back-to-top .text {
    opacity: 0;
    max-width: 0;
    font-size: 1.1em;
}

.back-to-top .text.visible {
    max-width: 300px;
    opacity: 1;
    transition: opacity 0.3s ease-in-out 0.1s;
}

.back-to-top .icon {
    font-size: 1.1em;
}