.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgba(0, 0, 0, 0.9);
    font-family: 'Montserrat', sans-serif;
}

.btn {
    background: transparent;
    color: white;
    border: 2px solid red;
    border-radius: 3px;
    padding: 5px 10px;
    text-transform: uppercase;
    opacity: 0.8;
    margin: 10px;
    width: 200px;
    height: 50px;
}

.flexStart {
    align-self: flex-start;
}

.flexCenter {
    align-self: center;
}

.flexEnd {
    align-self: flex-end;
}

.btn:hover {
    opacity: 1;
    box-shadow: 3px 3px 8px var(--blue);
    transition: all 0.1s ease-in-out;
}