
    $blue: #05668D;
    $bluegreen: #028090;
    $greenblue: #00A896;
    $green: #02C39A;
    $yellow: #F0F3BD;
    $title-font: 'Raleway', sans-serif;
    $title-font-2: 'Raleway', sans-serif;

body, html {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
